* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows:20% 40%;
}

header, main, footer {
    background: rgb(92, 119, 66);
    color: rgb(106, 36, 128);
}

h1 {
    font-size: 60px;
    text-align: center;
    padding: 10px;
}
h2 {
    font-size: 38px;
    text-align: center;
    padding: 10px;
}
h3 {
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

p {
    font-size: 20px;
    text-align: left;
    padding: 10px;
}

h1:hover {
    color: rgb(53, 0, 78);
}

h2:hover {
        color: rgb(160, 43, 255);
}

h3:hover {
    color: rgb(195, 122, 255);
}